[submodule "externals/CoolProp"]
	path = externals/CoolProp
	url = https://github.com/CoolProp/CoolProp.git
[submodule "externals/pugixml"]
	path = externals/pugixml
	url = https://github.com/zeux/pugixml.git
